@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-Regular.otf"),
         url("fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-Medium.otf"),
         url("fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  } 

@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-SemiBold.otf"),
         url("fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-Bold.otf"),
         url("fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }

body,html {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  }

a{
	color: #000000;
	text-decoration: none;
}

/* ШАПКА*/

.wrap  {
  font-family: "montserrat", sans-serif; 
  background: #fff;
  font-weight: 600;
  font-style: normal;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  margin-bottom: 42px;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
	align-items: center;
	font-size: 15px;
	line-height: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 3vw;
} 


.header-models {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 13vw;
}

.model-one {
  display: flex;
  color: #E51937;
  margin-right: 64px;
  background: url(img/line-red.png) no-repeat;
  background-position: bottom;
}

.model {
  display: flex;
  justify-content: space-between;
  margin-right: 52px;
}

.model:nth-child(4) {
  display: flex;
  margin-right: 3vw;
}

.header-menu {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}

.header-menu__item {
  display: flex;
  margin-right: 30px;
}

.burger {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 3vw;
}

  /* КОНТЕНТ */

.content {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
}

 .first-floor__item {
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.first-floor__bg  {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first-floor__bg > img {
  position: relative;
  display: flex;
  justify-content: center;
}

.first-floor__title {
  margin-bottom: 75px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-self: center;
  text-align: center;
}

.first-floor__title > h1 {
  display: flex;
  font-size: 90px;
  line-height: 110px;
  margin: 0 auto;
}

.first-floor__title > p {
  display: flex;
  font-size: 15px;
  line-height: 18px;
  margin: 0 auto;
  padding-bottom: 57px;
}

.first-floor__title > img {
  display: flex;
  margin-bottom: 31px;
}

.stat {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  text-align: center;
  left: 0;
  right: 0;
  margin-bottom: 76px;
}

.stat__item-one {
  display: flex;
  justify-content: space-between;
  margin-right: 6vw;
}

.stat__item-two {
  display: flex;
  justify-content: space-between;
}

.stat__item-two > img {
  margin-right: 6vw;
  height: 36px;
}
 
.stat__item-two > button {
  display: block;
  border: 2px solid #E51937;
  color: #E51937;
  font-family: montserrat, sans-serif; 
  font-style: normal;
  font-weight: 600;
  width: 178px;
  height: 40px;
  background: #fff;
}

.swipe-down {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.second-floor {
  background-size: cover;
  margin-bottom: 36px;
}

.advantage-info {
  display: flex;
  position: absolute;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.advantage__bg {
  position: absolute;
}

.bg__model {
  position: absolute;
  color: #E51937;
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
  letter-spacing: 0.3vw;
  left: 87px;
}

.info__description-advantage {
  width: 440px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  color: #fff;
  background: #E51937;

}

.safety-bg {
  background: #E51937;
}


/* ПОДВАЛ */

.footer {
  font-size: 7px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3vw;
}