@font-face {
    font-family: "montserrat";
    src: url("fonts/montserrat-regular-webfont.ttf"),
         url("fonts/montserrat-regular-webfont.woff"),
         url("fonts/montserrat-regular-webfont.woff2");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "montserrat";
    src: url("fonts/montserrat-medium-webfont.ttf"),
         url("fonts/montserrat-medium-webfont.woff"),
         url("fonts/montserrat-medium-webfont.woff2");
    font-weight: 500;
    font-style: normal;
  } 

@font-face {
    font-family: "montserrat";
    src: url("fonts/montserrat-semibold-webfont.ttf"),
         url("fonts/montserrat-semibold-webfont.woff"),
         url("fonts/montserrat-semibold-webfont.woff2");
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: "montserrat";
    src: url("fonts/montserrat-bold-webfont.ttf"),
         url("fonts/montserrat-bold-webfont.woff"),
         url("fonts/montserrat-bold-webfont.woff2")
    font-weight: 800;
    font-style: normal;
  }

body,html {
  font-family: "montserrat", sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

a{
	color: #000000;
	text-decoration: none;
}

/* ШАПКА*/

.wrapper  {
  background: #fff;
  font-weight: 600;
  font-style: normal;
  width: 1440px;
  margin: 0 auto;
}

.header {
	font-size: 15px;
	line-height: 20px;
}

.nav {
  display: flex;
  width: 100%;
  padding: 20px 41px;
  margin-bottom: 41px;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 18%;
} 


.header-models {
  display: flex;
  align-items: center;
  margin-right: 13%;
  white-space: nowrap;
}

.model-one {
  display: flex;
  color: #E51937;
  margin-right: 4vw;
  background: url(img/line-red.png) no-repeat;
  background-position: bottom;
}

.model {
  display: flex;
  justify-content: space-between;
  margin-right: 3vw;
}

.model:nth-child(4) {
  display: flex;
  margin-right: 2vw;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu__item {
  display: flex;
  margin-right: 30px;
}

.burger {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 3%;
  
}

.first-floor__item {
  display: flex;
  flex-flow: column;
  position: relative;
  text-align: center;
  margin-bottom: 102px;
}

.first-floor__bg  {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first-floor__title {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

.title-text {
  font-size: 90px;
  line-height: 110px;
  margin: 0 auto;
}

.title-subtext {
  font-size: 15px;
  line-height: 18px;
  margin: 0 auto;
}

.Car-Tesla {
  margin-bottom: 39px;
}

.stat {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 26px;
}

.stat__item-one {
  display: flex;
  justify-content: space-between;
  margin-right: 7vw;
}

.stat__item-two {
  display: flex;
  align-items: center;
}

.test-drive {
  height: 29px;
  margin-right: 3vw;
}
 
.btn__first-floor {
  text-transform: uppercase;
  display: block;
  border: 2px solid #E51937;
  color: #E51937;
  font-family: "montserrat", sans-serif; 
  font-style: normal;
  font-weight: 600;
  background: #fff;
  padding: 10px 41px;
}



.presentation {
  background-size: cover;
  margin: 0;
}

.advantage-info {
  background: url(img/2013-tesla-model-s-cockpit.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  flex-direction: row;
}

.advantage__bg > img {
  opacity: 0;
  width: 1440px;
}

.bg__model {
  color: #E51937;
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
  letter-spacing: 0.3vw;
  padding-left: 3vw;
}

.info__description-advantage {
  width: 440px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  color: #fff;
  background: #E51937;
}


.safety-bg {
  background: #E51937;
}


/* ПОДВАЛ */

.WHS {
  font-size: 7px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3vw;
}