* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
  }

a {
	color: #000000;
  text-decoration: none;
}

.wrapper  {
  width: 100%;
  height: 100%;
  min-width: 370px;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin-bottom: 31px;
  white-space: nowrap;;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 26px 40px 0 46px;
  margin-bottom: 42px;
}

.logo {
  margin-right: 2vw;
}

.header-models {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
}

.model {
  margin: 0 32px 6px 0;
}

.model:hover {
  color: #E51937;
  border-bottom: 2px solid;
  padding: 0 0 6px 0;
}

.model-s__link {
  color: #E51937;
  border-bottom: 2px solid;
  padding: 0 0 6px 0;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
}

.header-menu__item {
  margin: 0 32px 6px 0;
}

.header-menu__item:hover {
  color: #E51937;
  border-bottom: 2px solid;
  padding: 0 0 6px 0;
}

.header-content {
  display: flex;
  flex-flow: column;
}

.first-floor__item {
  display: flex;
  flex-flow: column;
  text-align: center;
  background-image: url(../img/Tesla-Wordmark-Red-1.png);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 5%;
}

.first-floor__title {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

.title-text {
  font-size: 89px;
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 16px;
  position: relative;
  top: 11px;
  left: 9px;
  letter-spacing: .6px;
}

.title-subtext {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  position: relative;
  bottom: 12px;
  left: 9px;
}

.car-tesla {
  width: 68%;
  margin: 0 auto;
  margin-bottom: 38px;
  position: relative;
  top: 15px;
  right: 24px;
}

.stat {
  width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}

.params {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 300px 0 382px;
}

.wrap-params-one {
  display: flex;
  align-items: center;
}

.stat__speed {
  width: 46px;
  height: 35px;
  margin-right: 187px;
}

.stat-power {
  width: 46px;
  height: 35px;
  margin-right: 214px;
}

.wrap-params-two {
  display: flex;
  align-items: center;
}

.stat__test-drive {
  width: 87px;
  height: 0;
  margin-right: 115px;
  position: relative;
  right: 12px;
}

.test-drive__red {
  display: none;
}

.stat__btn {
  position: relative;
  top: 11px;
  right: 53px;
}
 
.btn__first-floor {
  text-transform: uppercase;
  display: block;
  border: 2px solid #E51937;
  color: #E51937;
  font-weight: bold;
  font-size: 13px;
  font-style: normal;
  letter-spacing: .5px;
  background: #fff;
  padding: 10px 43px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn__first-floor:hover {
  color: #fff;
  background: #E51937;
  border-color: #E51937;
}

.swipe-down_btn {
  position: relative;
  left: 8px;
  transition-duration: .9s;
}

.swipe-down_btn:hover {
  top: 5px;
}

.advantage-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(../img/2013-tesla-model-s-cockpit.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.top-title {
  color: #E51937;
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  line-height: 85px;
  margin: 40px 0 0 40px;
}

.info__description-advantage {
  max-width: 423px;
  color: #fff;
  background: #E51937;
  padding: 55px 45px;
}

.advantage-text {
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
  margin: 0;
}

.advantage-subtext {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 55px;
}

.image-advantage {
  margin: 0 0 160px 0;
}

.advantage_info-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}

.info_btn-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
}

.info-btn__img {
  margin-right: 5px;
}

.btn-info {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 10px 43px; 
  border: 2px solid #fff;
  background: #E51937;
  cursor: pointer;
  transition-duration: .4s;
  margin-left: 18px;
}

.btn-info:hover {
  background: #fff;
  color: #E51937;
}

.safety-info {
  display: flex;
}

.rating-safety {
  width: 440px;
  color: #fff;
  background: #E51937;
  padding: 55px 45px;
}

.safety-text {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  line-height: 37px;
  margin: 0;
}

.safety-subtext {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
  margin-bottom: 55px;
  padding-top: 15px;
}

.rating_title-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  font-style: normal;
  margin: 0;
}

.stars {
  list-style: none;
  padding: 0;
  margin: 20px 0 70px 0;
}

.star-item {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.star-item span {
  font-size: 10px;
  line-height: 12px;
  opacity: .6;
  padding-top: 5px;
}

.star-group {
  width: 230px;
  padding-left: 30px;
}

.rating_icon {
  width: 280px;
  height: 90px;
  margin-bottom: 50px;
}

.safety_info-btn {
  width: 319px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}

.safety_info-text {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.safety-info__img {
  margin-right: 5px;
}

.btn-safety {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin-left: 10px;
  padding: 10px 43px; 
  border: 2px solid #fff;
  background: #E51937;
  cursor: pointer;
  transition-duration: .4s;
}

.btn-safety:hover {
  background: #fff;
  color: #E51937;
}

.safety_car-frame {
  width: 100%;
  position: relative;
  top: 14vw;
  right: 7vw;
}

.safety-img {
  background-image: url(../img/Model_S-1.png);
  background-repeat: no-repeat;
  background-position-x: 104%;
  background-position-y: 25%;
  background-size: 85%;
}

.whs-img{
  width: 94px;
  position: relative;
  top: 17vw;
  left: 58vw;
}

@media screen and (max-width: 1080px) {

  .header-models {
    font-size: 12px;
  }

  .header-menu {
    font-size: 12px;
  }

  .car-tesla {
    width: 73%;
    top: 0;
    right: 0;
  }

  .first-floor__item {
    background-position-y: 15%;
  }

  .advantage-info {
    max-width: 1200px;
    margin: 0 auto;
    background-position: top left;
  }

  .top-title {
    width: 100%;
    text-align: right;
    margin-right: 50px;
  }

  .info__description-advantage {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 100%;
    margin-top: 67%;
  }

  .whs {
    display: none;
  }
}

@media screen and (max-width: 950px) {

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
  }

  .header {
    margin-bottom: 35px;
  }

  .header-models {
    display: none;
  }

  .first-floor__item {
    background-position-y: 15%;
  }

  .stat {
    width: 100%;
    margin: 0 auto 50px;
  }

  .params {
    display: flex;
    flex-flow: column;
  }

  .stat-power {
    margin-right: 160px;
  }

  .params {
    padding: 0 100px 0 150px;
  }

  .wrap-params-one {
    margin-bottom: 36px;
  }

  .stat__test-drive {
    width: 140px;
  }

  .test-drive {
    display: none;
  }

  .test-drive__red {
    display: block;
  }

  .btn__first-floor {
    background-color: #E51937;
    color: #fff;
  }
}

@media screen and (max-width: 770px) {
   .nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 10px;
  }

  .header {
    margin-bottom: 35px;
  }

  .header-models {
    display: none;
  }

  .header-menu__item {
    display: none;
  }

  .first-floor__item {
    background-position-y: 19%;
  }
}

@media screen and (max-width: 520px) {

  .nav {
    margin-bottom: 0;
    padding: 15px 11px;
  }

  .title-text {
    font-size: 60px;
  }

  .title-subtext {
    font-size: 12px;
  }

  .stat {
    width: auto;
  }

  .first-floor__item {
    background-position-y: 15%;
  }

  .params {
    width: 320px;
    display: block;
    padding: 0;
  }

  .stat__speed {
    margin-right: 160px;
  }

  .speed {
    width: 127px;
    height: 53px;
  }

  .power-reserve {
    width: 115px;
    height: 53px;
  }

  .test-drive__red {
    width: 135px;
    height: 28px;
  }

  .stat__btn {
    right: 80px;
  }
}

@media screen and (max-width: 375px) {

  .nav {
    padding: 15px 5px;
  }

  .burger-btn {
    margin-right: 10px;
  }

  .title-text {
    font-size: 50px;
  }

  .title-subtext {
    font-size: 10px;
  }

  .params {
    margin-right: 10px;
  }

  .speed {
    width: 125px;
  }

  .power-reserve {
    width: 115px;
  }

  .stat__test-drive {
    width: 0;
  }

  .test-drive__red {
    margin-left: 10px;
  }

  .stat__btn {
    left: 55px;
  }
}

@media screen and (max-width: 270px) {

  .first-floor__item {
    background-position-y: 10%;
  }

  .params {
    margin-left: 30px;
  }

  .wrap-params-one {
    flex-flow: column;
  }

  .wrap-params-two {
    flex-flow: column;
    margin-right: 33px;
  }

  .stat__speed {
    margin: 0 120px 50px 0;
  }

  .stat-power {
    margin-right: 105px;
  }

  .stat__btn {
    top: 50px;
    left: 10px;
  }

  .swipe-down {
    padding-top: 25px;
  }
}