* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin-bottom: 30px;
  white-space: nowrap;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 26px 40px 0 46px;
  margin-bottom: 42px;
}

.logo {
  margin-right: 2vw;
}

.header-models {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
}

.model {
  margin: 0 24px 3px 18px;
  padding-bottom: 10px;
}

.model:hover {
  color: #e51937;
  border-bottom: 2px solid;
  padding: 0 0 6px 0;
}

.model-s__link {
  color: #e51937;
  border-bottom: 2px solid;
  padding: 0 0 6px 0;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
}

.header-menu__item {
  margin: 0 32px 6px 0;
}

.header-menu__item:hover {
  color: #e51937;
  border-bottom: 2px solid;
  padding: 0 0 6px 0;
}

.header-content {
  display: flex;
  flex-flow: column;
}

.first-floor__item {
  display: flex;
  flex-flow: column;
  text-align: center;
  background-image: url(../img/Tesla-Wordmark-Red-1.png);
  background-repeat: no-repeat;
  background-size: 101%;
  background-position-y: 5%;
}

.first-floor__title {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

.title-text {
  font-size: 89px;
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 16px;
  position: relative;
  top: 11px;
  left: 9px;
  letter-spacing: .6px;
}

.title-subtext {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  position: relative;
  bottom: 12px;
  left: 9px;
}

.car-tesla {
  width: 68%;
  margin: 0 auto;
  margin-bottom: 38px;
  position: relative;
  top: 15px;
  right: 24px;
}

.stat {
  width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}

.params {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 300px 0 382px;
}

.wrap-params-one {
  display: flex;
  align-items: center;
}

.stat__speed {
  width: 46px;
  height: 35px;
  margin-right: 187px;
}

.stat-power {
  width: 46px;
  height: 35px;
  margin-right: 214px;
}

.wrap-params-two {
  display: flex;
  align-items: center;
}

.stat__test-drive {
  width: 102px;
  height: 0;
  margin-right: 115px;
  position: relative;
  right: 12px;
}

.test-drive__red {
  display: none;
}

.stat__btn {
  position: relative;
  top: 11px;
  right: 69px;
}

.btn__first-floor {
  text-transform: uppercase;
  display: block;
  border: 2px solid #e51937;
  color: #e51937;
  font-weight: bold;
  font-size: 12px;
  font-style: normal;
  letter-spacing: .5px;
  background: #fff;
  padding: 10px 41px;
  transition-duration: .4s;
  cursor: pointer;
}

.btn__first-floor:hover {
  color: #fff;
  background: #e51937;
  border-color: #e51937;
}

.swipe-down_btn {
  position: relative;
  left: 8px;
  transition-duration: .9s;
  outline: none;
}

.swipe-down_btn:hover {
  top: 5px;
}

.advantage-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(../img/2013-tesla-model-s-cockpit.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantage-title {
  width: 300px;
  height: 115px;
  margin: 64px 0 0 80px;
}

.top-title {
  color: #e51937;
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
}

.info__description-advantage {
  display: flex;
  flex-direction: column;
  width: 423px;
  height: 900px;
  color: #fff;
  background: #e51937;
  padding: 0 55px 101px 52px;
}

.description-advantage {
  margin: 55px 0 5px;
}

.advantage-text {
  font-size: 30px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  white-space: nowrap;
}

.advantage-subtext {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 60px;
}

.image-advantage {
  margin: 0 0 166px 0;
}

.advantage-display {
  margin-bottom: 32px;
}

.advantage-wifi {
  margin-bottom: 20px;
}

.advantage_info-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.info_btn-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 28px;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.info-btn__img {
  margin-right: 15px;
  cursor: pointer;
}

.btn-info {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 10px 41px;
  border: 2px solid #fff;
  background: #e51937;
  cursor: pointer;
  transition-duration: .4s;
}

.btn-info:hover {
  background: #fff;
  color: #e51937;
}

.safety-info {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.safety-bg {
  background: url(../img/Model_S-1.png) no-repeat;
  background-size: 81%;
  background-position: 110% 19%;
}

.safety-bg__img {
  position: relative;
  z-index: 1;
  right: 97px;
  top: 171px;
}

.safety-car {
  width: 107%;
}

.rating-safety {
  display: flex;
  flex-direction: column;
  width: 440px;
  color: #fff;
  background: #e51937;
  padding: 50px 38px 0 57px;
}

.safety-text {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  line-height: 37px;
  margin: 0;
}

.safety-subtext {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
  margin-bottom: 55px;
  padding-top: 15px;
}

.quality-rating {
  margin-bottom: 17px;
}

.rating__title-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  font-style: normal;
  margin-bottom: 26px;
}

.stars {
  list-style: none;
  padding: 0;
  margin: 20px 0 70px 0;
}

.star-item {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9px;
}

.star-item span {
  font-size: 10px;
  line-height: 12px;
  opacity: .6;
  padding-top: 5px;
}

.star-group {
  width: 230px;
  padding-left: 30px;
}

.rating_icon {
  width: 280px;
  height: 90px;
  margin-bottom: 53px;
}

.rating_icon-img {
  padding-left: 8px;
}

.safety_info-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 59px;
  margin-left: -16px;
  white-space: nowrap;
}

.safety-info__img {
  margin-right: 34px;
  cursor: pointer;
}

.btn-safety {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 10px 41px;
  border: 2px solid #fff;
  background: #e51937;
  cursor: pointer;
  transition-duration: .4s;
}

.btn-safety:hover {
  background: #fff;
  color: #e51937;
}

@media screen and (max-width: 1080px) {
  .header-models {
    font-size: 12px;
  }

  .header-menu {
    font-size: 12px;
  }

  .car-tesla {
    width: 73%;
    top: 0;
    right: 0;
  }

  .first-floor__item {
    background-position-y: 15%;
  }

  .advantage-info {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    background-position: top left;
  }

  .advantage-title {
    width: 870px;
    margin-bottom: 54%;
  }

  .top-title {
    text-align: right;
    padding-right: 52px;
  }

  .info__description-advantage {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .description-advantage {
    width: 50%;
    margin: 50px 0;
    padding-left: 35px;
  }

  .advantage-subtext {
    width: 306px;
    letter-spacing: .6px;
    height: 220px;
    margin: 0;
  }

  .image-advantage {
    justify-content: space-between;
    width: 38%;
    margin: 0;
    padding: 50px;
  }

  .advantage_info-btn {
    width: auto;
    padding-bottom: 35px;
  }

  .safety-info {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
  }

  .safety-bg {
    background-size: 85%;
    background-position: 50% 18%;
    margin-bottom: 70px;
  }

  .safety-bg__img {
    top: 55px;
    right: 0;
  }

  .safety-car {
    width: 95%;
  }

  .rating-safety {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .description-safety {
    width: 39%;
    margin-right: 18%;
    padding: 50px 0 50px 30px;
  }

  .safety-text {
    width: 316px;
  }

  .safety-subtext {
    width: 304px;
    margin: 0;
  }

  .quality-rating {
    width: auto;
    height: 281px;
    margin: 0;
    padding: 50px 0 0 0;
  }

  .rating__title-text {
    width: 277px;
  }

  .stars {
    width: 104%;
  }

  .star-item {
    width: auto;
  }

  .star-group {
    width: 166px;
    padding-left: 15px;
  }

  .rating_icon {
    display: none;
  }

  .safety_info-btn {
    width: auto;
    margin: 0 auto;
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
  }

  .header {
    margin-bottom: 35px;
  }

  .header-models {
    display: none;
  }

  .first-floor__item {
    background-position-y: 15%;
  }

  .stat {
    width: 100%;
    margin: 0 auto 50px;
  }

  .params {
    display: flex;
    flex-flow: column;
    padding: 0 100px 0 150px;
  }

  .stat-power {
    margin-right: 160px;
  }

  .wrap-params-one {
    margin-bottom: 36px;
  }

  .stat__test-drive {
    width: 140px;
  }

  .test-drive {
    display: none;
  }

  .test-drive__red {
    display: block;
  }

  .btn__first-floor {
    background-color: #e51937;
    color: #fff;
  }

  .advantage-title {
    width: 688px;
    margin-bottom: 51%;
  }

  .top-title {
    padding: 0;
  }
}

@media screen and (max-width: 770px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 10px;
  }

  .header {
    margin-bottom: 35px;
  }

  .header-models {
    display: none;
  }

  .header-menu__item {
    display: none;
  }

  .first-floor__item {
    background-position-y: 19%;
  }

  .advantage-title {
    width: 546px;
    margin-bottom: 45%;
  }

  .description-advantage {
    padding-left: 20px;
  }

  .advantage-wifi {
    max-width: 235px;
  }

  .description-safety {
    padding-left: 20px;
    margin-right: 16%;
  }

  .stars {
    width: auto;
  }
}

@media screen and (max-width: 630px) {
  .nav {
    margin-bottom: 0;
    padding: 15px 11px;
  }

  .title-text {
    font-size: 60px;
  }

  .title-subtext {
    font-size: 12px;
  }

  .stat {
    width: auto;
  }

  .first-floor__item {
    background-position-y: 15%;
  }

  .params {
    width: 320px;
    display: block;
    padding: 0;
  }

  .stat__speed {
    margin-right: 160px;
  }

  .speed {
    width: 127px;
    height: 53px;
  }

  .power-reserve {
    width: 115px;
    height: 53px;
  }

  .test-drive__red {
    width: 135px;
    height: 28px;
  }

  .stat__btn {
    right: 80px;
  }

  .description-advantage {
    width: auto;
    margin: 0 auto;
    padding: 35px 0;
  }

  .advantage-title {
    width: auto;
    margin-bottom: 40%;
  }

  .top-title {
    display: none;
  }

  .advantage_info-btn {
    width: auto;
  }

  .image-advantage {
    display: none;
  }

  .description-safety {
    width: auto;
    margin: 0 auto;
  }

  .safety-text {
    width: 326px;
  }

  .quality-rating {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .nav {
    padding: 15px 5px;
  }

  .burger-btn {
    margin-right: 10px;
  }

  .title-text {
    font-size: 50px;
  }

  .title-subtext {
    font-size: 10px;
  }

  .params {
    margin-right: 10px;
  }

  .speed {
    width: 125px;
  }

  .power-reserve {
    width: 115px;
  }

  .stat__test-drive {
    width: 0;
  }

  .test-drive__red {
    margin-left: 10px;
  }

  .stat__btn {
    left: 55px;
  }

  .advantage-title {
    margin-bottom: 35%;
  }
}

@media screen and (max-width: 375px) {
  .advantage-title {
    margin-bottom: 30%;
  }

  .description-advantage {
    width: 100%;
  }

  .advantage-text {
    width: 100%;
    padding: 0 28px;
  }

  .advantage-subtext {
    width: 100%;
    padding: 10px 18px;
  }

  .advantage_info-btn {
    display: none;
  }

  .safety_info-btn {
    display: none;
  }

  .safety-text {
    width: 100%;
  }

  .safety-subtext {
    width: 100%;
    padding-right: 25px;
  }
}

@media screen and (max-width: 340px) {
  .first-floor__item {
    background-position-y: 10%;
  }

  .title-text {
    font-size: 30px;
  }

  .stat {
    width: 100%;
  }

  .params {
    width: 100%;
    margin-left: 15px;
  }

  .wrap-params-one {
    flex-flow: column;
  }

  .wrap-params-two {
    flex-flow: column;
    margin-right: 33px;
  }

  .stat__speed {
    margin: 0 120px 50px 0;
  }

  .stat-power {
    margin-right: 105px;
  }

  .stat__btn {
    top: 50px;
    left: 10px;
  }

  .swipe-down {
    padding-top: 25px;
  }

  .advantage-title {
    margin-bottom: 25%;
  }

  .advantage-text {
    margin: 0 auto;
    white-space: normal;
  }

  .advantage-subtext {
    height: auto;
    margin: 0 auto;
    padding: 18px 27px 0;
  }

  .safety-text {
    width: 100%;
  }

  .safety-subtext {
    padding-right: 33px;
  }
}
